<h3>Addresses</h3>
<div ng-repeat='address in addresses'>
	<span>{[{address.name}]}</span>
	<span>{[{address.postal_code}]}</span>
    <label home address <input type='checkbox' checked='address.isHomeAddress'> </label>
	<button ng-click='deleteItem($index)'>Delete Item</button>
</div>

<hr/>


<form name='addressForm'>
    <span>Name:</span> <br>
    <input name='name' ng-model='name' required>
    <span ng-show='addressForm.name.$valid'>Correct</span>
    <br>

    <span>Postal Code:</span> <br>
    <small>Must be in the form <i>xxx xxx</i> with capital letters e.g. <i>34M FH3</i></small> <br>
    <input name='postalCode' ng-model='postal_code' ng-pattern='/^[A-Z0-9]{3} [A-Z0-9]{3}$/' required> 
    <span ng-show='addressForm.postalCode.$valid'>Correct</span>
    <br>
</form>

<br>

<button ng-click='addAddress()'> Add Entry </button>
