<style>
    td, th {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    tr {
        border-collapse: collapse;
    }

    input.ng-valid {
        background: rgb(100, 200, 100);
    }
    input.ng-invalid {
        background: rgb(250, 100, 100);
    }

    input.pristine{
        background: white;
    }
</style>

<h3>Addresses</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Postal Code</th>
        <th>Home Address</th>
    </tr>
    <tr ng-repeat='address in addresses'>
        <td>
        	<span>{[{address.name}]}</span>
        </td>
        <td>
        	<span>{[{address.postal_code}]}</span>
        </td>
        <td>
            <input type='checkbox' checked='address.isHomeAddress' 
                ng-click='updateItem($index)' ng-model='address.isHomeAddress'>
        </td>
        <td>
        	<button ng-click='deleteItem($index)'>Delete Item</button>
        </td>
    </tr>

</table>

<hr/>


<form name='addressForm'>
    <span>Name:</span> <br>

    <input name='name' ng-model='name' required >
    <span ng-show='addressForm.name.$valid'>Correct</span>
    <br>

    <span>Postal Code:</span> <br>
    <small>Must be in the form <i>xxx xxx</i> with capital letters e.g. <i>34M FH3</i></small> <br>
    <input name='postalCode' ng-model='postal_code' ng-pattern='/^[A-Z0-9]{3} [A-Z0-9]{3}$/' required>
    <span ng-show='addressForm.postalCode.$valid'>Correct</span>
    <br>
</form>

<br>

<button ng-click='addAddress()'> Add Entry </button>
